.nav-bar {
  background-color: cornflowerblue;
  text-decoration: none;
  height: 40px;
}

.nav-link {
  color: yellow;
  margin-right: 20px;
  text-align: center;
  font-size: 26px;
}

.active {
  color: black;
}
