.container {
  background-image: url(./imgs/vendingmachine.jpg);
  background-size: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

#left {
  float: right;
  margin-left: 10%;
  margin-right: 15%;
  background: darkslateblue;
  opacity: 0.95;
  border-radius: 10%;
  height: 25%;
  width: 30%;
  padding: 10px;
}

.msg {
  width: 100%;
  font-size: 30px;
  color: white;
}

#right {
  float: left;
  display: flex;
  background: darkslateblue;
  opacity: 0.95;
  height: 25%;
  width: 30%;
  border-radius: 10%;
  align-items: center;
}

.list {
  width: 100%;
  padding: 0px;
  align-items: center;
  list-style-type: none;
}

li {
  width: inherit;

  text-align: center;
  font-size: 175%;
  padding-top: 12px;
  text-align: center;
}

.snack-link {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.snack-link:hover {
    text-decoration: underline;
}